.menuutama{
	background-color: #333!important;
}
.menuutama:hover{
	background-color: #858a90!important;
}

.aktif{
	background-color: #858a90!important;
}

.huruf-menuutama {
	text-align: center; 
	text-decoration: none; 
	color: #fff; 
	font-size: 11px;
}

.jumbotron {
        padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem !important;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}